httpx==0.23.0
jieba==0.42.1
matplotlib==3.3.2
nltk==3.4.5
ntchat
numpy==1.20.3
paddlehub==2.3.0
paddlenlp==2.0.6
pcl_pangu==1.1.4.6
Pillow==9.2.0
requests
scikit_learn
setuptools
simhash
six
tqdm
wenxin_api
tornado
rocketqa
faiss-cpu
pydantic
