requests
hashlib
json
jieba==0.42.1
matplotlib==3.3.2
ntchat==0.1.12
numpy==1.20.3
paddlehub==2.3.0
paddlenlp==2.0.6
pcl_pangu==1.1.4.6
Pillow==9.2.0
requests==2.22.0
scikit_learn==1.1.2
setuptools==47.1.0
simhash==2.1.2
six==1.16.0
wenxin_api==0.0.4
